$themes: (
  light: (
    primary: #f1d237,
    secondary: #e2b912,
    tertiary: #332900,
    background: #ffea8f,
    accent: #fff5cc,
  ),
  dark: (
    primary: #c8a90e,
    secondary: #edc31d,
    tertiary: #fff5cc,
    background: #705c00,
    accent: #332900,
  ),
);