@use 'variables' as *;
@use 'mixins' as *;
@use "sass:math";
@use "sass:color";

@function vw($value, $base: 1920px)
{
    @return math.div($value * 100, $base) * 1vw
};

@font-face 
{
    font-family: 'Open-Sans';
    src: url("/banana-s-web/assets/fonts/Open_Sans/static/OpenSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'Open-Sans';
    src: url("/banana-s-web/assets/fonts/Open_Sans/static/OpenSans-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face 
{
    font-family: 'Open-Sans';
    src: url("/banana-s-web/assets/fonts/Open_Sans/static/OpenSans-ExtraBold.ttf") format('truetype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

body 
{
    margin: 5px;
    font-family: 'Open-Sans';
    font-weight: bold;
    scroll-behavior: smooth;
    @include themed() {
    background: t("background");
    color: t("tertiary");
    }
}